html, body {
  font-family: 'Oxygen Mono', monospace;
  margin: 0;
  padding: 0;
  background: #222;
}
canvas {
  display: block;
}

#scoreboard{
  position: fixed;
  left: 840px;
  top: 10px;
  width: 300px;
  height: 300px;
  color: white;
}
